.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.heading{
    display: flex;
    justify-content: space-between;
}  
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
  
span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.area{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
  

.description {
    font-size: 16px;
    line-height: 1.5;
}
.description h2{
    margin-top: 30px;
}

.ingredient{
    font-size: 15px;
    margin-top: 30px;

}
.ingredient span{
    display: flex;
    font-weight: 400;
}
  